[submodule "build_container"]
    path = build_container
    url = ../build_container.git
[submodule "base_container"]
    path = base_container
    url = ../base_container.git
[submodule "cesi"]
    path = cesi
    url = ../cesi.git
[submodule "confluent"]
    path = confluent
    url = ../confluent.git
[submodule "container_build_framework"]
    path = container_build_framework
    url = ../container_build_framework.git
[submodule "hubot"]
    path = hubot
    url = ../hubot.git
[submodule "jenkins"]
    path = jenkins
    url = ../jenkins.git
[submodule "kafka"]
	path = kafka
    url = ../kafka.git
[submodule "kafka-manager"]
    path = kafka-manager
    url = ../kafka-manager.git
[submodule "kafka-rest"]
    path = kafka-rest
    url = ../kafka-rest.git
[submodule "movefiles"]
    path = movefiles
    url = ../movefiles.git
[submodule "nagios"]
    path = nagios
    url = ../nagios.git
[submodule "nginx-base"]
    path = nginx-base
    url = ../nginx-base.git
[submodule "nginx-proxy"]
    path = nginx-proxy
    url = ../nginx-proxy.git
[submodule "nodervisor"]
    path = nodervisor
    url = ../nodervisor.git
[submodule "openjdk"]
    path = openjdk
    url = ../openjdk.git
[submodule "openjre"]
    path = openjre
    url = ../openjre.git
[submodule "perl"]
    path = perl
    url = ../perl.git
[submodule "perl-carton"]
    path = perl-carton
    url = ../perl-carton.git
[submodule "phpmyadmin"]
    path = phpmyadmin
    url = ../phpmyadmin.git
[submodule "postgresql"]
    path = postgresql
    url = ../postgresql.git
[submodule "php5"]
    path = php5
    url = ../php5.git
[submodule "php7"]
    path = php7
    url = ../php7.git
[submodule "python"]
    path = python
    url = ../python.git
[submodule "supervisord"]
    path = supervisord
    url = ../supervisord.git
[submodule "webdav"]
    path = webdav
    url = ../webdav.git
[submodule "zenphoto"]
    path = zenphoto
    url = ../zenphoto.git
